body {
  margin: 0;
}

main {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 55px;
  margin-bottom: 8rem;
}

footer {
  display: flex;
  width: 100%;
  background: linear-gradient(rgba(40, 130, 255, 1), rgba(40, 130, 255, 0.7));
  color: #f5f5f5;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  position: fixed;
  bottom: 0;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
